

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a:hover {
	text-decoration: none;
}

.main {
	background-image: url('../images/background-resize.jpg');
	background-color: #fff;
	background-size:cover;
	position: relative;
	width: 100%;
	height: 629px;
	overflow: hidden;
}

.main .fish {
	width: 50px;
	height: 30px;
	position:absolute;
	animation-timing-function: ease-in;
	animation: moving 40s infinite;
	top:60px;
}

@keyframes moving {
	from {right: 0px;}
    to {right: 1450px;}
}

.main .angry-fish {
	width: 50px;
	height: 30px;
	top:250px;
	animation-delay: 40s;
	position:absolute;
	animation: angrymoving 20s infinite;
	animation-timing-function: linear;

}

@keyframes angrymoving {
	from {left: -350px;}
    to {left: 1450px;}
}

.main .pretty-fish {
	width: 50px;
	height: 30px;
	top:450px;
	position:absolute;
	animation: prettymoving 60s infinite;
	animation-timing-function: ease-in-out;
}

@keyframes prettymoving {
	from {right: -250px;}
    to {right: 1450px;}
}

.row {
	margin:50px auto;
}

.navbar {
	border-bottom: 1px solid rgba(255,255,255,.7);
	padding:0 10px;
}

.navbar  a {
	text-transform: uppercase;
	color: rgba(255,255,255,.7);
	font-weight: 700;
}

.navbar a:hover {
	padding-bottom: 5px;
	border-bottom: 2px solid #fe039a;
}

.navbar-nav {
	padding:3px;
}

.navbar-right {
	margin:0;
}


.navbar li a:hover {
	background-color: transparent;
}

.aboutme {
	background-color: #FF1A71;
	padding:50px 0;
}

.portfolio {
	padding:30px 0;
}

.portfolio .work {
	display: inline-block;
	width: 22%;
	position: relative;
	margin-right: 20px;
}

.portfolio .work img {
	width: 100%;
}

.portfolio .full-width {
	width: 100%;
}

.contact img {
	margin:0 auto;
	width: 50px;
	height: 50px;
}

.contact a:visited {
	color:#225f6f;
}