

$primary-color: #fe039a;

h1 {
	color:$primary-color;
	margin-top: 150px;
	font-weight: bold;
}

.main {
	background: red;
	border-radius: 20px;
	padding-right: 29px;

	img {
		height:20px;
		width: 20px
	}

	h1 {
		
	}
}