@import url(main.css);
body {
  font-family: "Roboto", sans-serif; }

.row {
  margin: 50px auto; }

.pink {
  background-color: #FF1A71; }
  .pink .navbar-nav a:hover {
    border-bottom: 1px solid white; }

.main {
  background-image: url("../images/background-resize.jpg");
  background-size: cover;
  height: 638px;
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  .main .fish {
    width: 50px;
    height: 30px;
    position: absolute;
    animation-timing-function: ease-in;
    animation: moving 40s infinite;
    top: 60px; }
  .main .angry-fish {
    width: 50px;
    height: 30px;
    top: 250px;
    animation-delay: 40s;
    position: absolute;
    animation: angrymoving 20s infinite;
    animation-timing-function: linear; }
  .main .pretty-fish {
    width: 50px;
    height: 30px;
    top: 450px;
    position: absolute;
    animation: prettymoving 60s infinite;
    animation-timing-function: ease-in-out; }
  .main h1 {
    color: #fe039a;
    margin-top: 150px;
    font-weight: bold; }

.navbar-inner i {
  display: none; }

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0 10px; }
  .navbar a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700; }
    .navbar a:hover {
      padding-bottom: 2.5px;
      border-bottom: 2px solid #fe039a; }
  .navbar .navbar-nav {
    padding: 3px; }
  .navbar .navbar-right {
    margin: 0; }

.nav li a:hover {
  background-color: transparent; }

.aboutme {
  background-color: #FF1A71;
  padding: 60px 0; }
  .aboutme p {
    font-size: 18px; }
  .aboutme span {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 700; }

.portfolio {
  padding: 50px 0; }
  .portfolio .work {
    display: inline-block;
    width: 22%;
    position: relative;
    margin-right: 20px; }
  .portfolio .firstContainer {
    position: relative;
    display: block;
    overflow: hidden; }
  .portfolio .secondContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding-bottom: 2rem;
    z-index: 1; }
  .portfolio #effectFirst:after {
    background-color: #f5eaec; }
  .portfolio #effectSecond:after {
    background-color: #c6bab8; }
  .portfolio #effectThird:after {
    background-color: #f1dec7; }
  .portfolio #effectFourth:after {
    background-color: #ebeaeb; }
  .portfolio #effectFifth:after {
    background-color: black;
    opacity: 0.5; }
  .portfolio .overlay {
    position: relative;
    text-decoration: none;
    display: block; }
    .portfolio .overlay:hover img {
      transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03); }
    .portfolio .overlay p {
      padding-left: 20px;
      font-size: 16px;
      text-transform: uppercase;
      color: #FF1A71;
      transition: transform 0.4s cubic-bezier(0, 0, 0, 0.85), opacity 0.2s linear;
      transform: translateX(0);
      opacity: 0; }
    .portfolio .overlay:after {
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03);
      transform: scaleX(0);
      transform-origin: left center; }
    .portfolio .overlay:hover p {
      transform: translateX(1);
      opacity: 1; }
    .portfolio .overlay:hover:after {
      transform: scaleX(1); }
  .portfolio .overlay_5 {
    position: relative;
    text-decoration: none;
    display: block; }
    .portfolio .overlay_5:hover img {
      transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03); }
    .portfolio .overlay_5 p {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin: 170px auto;
      text-transform: uppercase;
      color: #FF1A71;
      transition: transform 0.4s cubic-bezier(0, 0, 0, 0.85), opacity 0.2s linear;
      transform: translateX(0);
      opacity: 0; }
    .portfolio .overlay_5:after {
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03);
      transform: scaleX(0); }
    .portfolio .overlay_5:hover p {
      transform: translateX(1);
      opacity: 1; }
    .portfolio .overlay_5:hover:after {
      transform: scaleX(1); }
  .portfolio .full-width {
    width: 100%;
    margin-top: 20px; }
  .portfolio h3 {
    color: #FF1A71; }

.contact img {
  margin: 0 auto;
  width: 50px;
  height: 50px; }
.contact a:visited {
  color: #225f6f; }
.contact li {
  position: relative;
  list-style-type: none;
  display: inline-block; }
  .contact li strong {
    opacity: 0;
    bottom: 45px;
    left: -50px;
    position: absolute;
    color: #05adda;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none; }
.contact .mail:hover strong {
  opacity: 1; }

@media (max-width: 774px) {
  .main h1 {
    margin-top: 200px; }

  .navbar-inner a i {
    margin: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    display: block; }

  .menu {
    width: 15%;
    display: none;
    text-align: center; }
    .menu li a {
      padding: 5px; }

  .aboutme {
    padding: 150px 0 60px 0; }

  .portfolio {
    padding: 130px 0; }
    .portfolio .work {
      margin-right: 0; }
    .portfolio .full-img {
      width: 100%; }
      .portfolio .full-img img {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #fe039a; }

  .contact img {
    width: 40px;
    height: 40px; } }

/*# sourceMappingURL=final.css.map */
