@import "main.css";

$main-font: 'Roboto', sans-serif;
$main-color: #fe039a;
$main-size: 16px;

body {
	font-family:$main-font;
	font-size:$main-size;
}

.row {
	margin:50px auto;
}

.pink {
	background-color:#FF1A71;
	.navbar-nav {
		a {
			&:hover {
				border-bottom: 1px solid white;
			}
		}
	}

}


.main {
		background-image: url('../images/background-resize.jpg');
		background-size: cover;
		height: 850px;
		background-color: #fff;
		position: relative;
		overflow: hidden;

		.fish {
			width: 50px;
			height: 30px;
			position:absolute;
			animation-timing-function: ease-in;
			animation: moving 40s infinite;
			top:60px;
		}

		.angry-fish {
			width: 50px;
			height: 30px;
			top:250px;
			animation-delay: 40s;
			position:absolute;
			animation: angrymoving 20s infinite;
			animation-timing-function: linear;
		}

		.pretty-fish {
			width: 50px;
			height: 30px;
			top:450px;
			position:absolute;
			animation: prettymoving 60s infinite;
			animation-timing-function: ease-in-out;
		}

		h1 {
			color:$main-color;
			margin-top: 150px;
			font-weight: bold;
			font-size: 56px;
		}
}

.navbar-inner {
	i {
		display: none;
	}
}

.navbar {
	border-bottom: 1px solid rgba(255,255,255,.7);
	padding:0 10px;

	a {
		text-transform: uppercase;
		color: rgba(255,255,255,.7);
		font-weight: 700;

		&:hover {
			padding-bottom: 2.5px;
			border-bottom: 2px solid #fe039a;
		}
	}

	.navbar-nav {
		padding:3px;
	}

	.navbar-right {
		margin:0;
	}

}

.nav {
	li {
		a {
			&:hover {
			background-color: transparent;
			}
		}
	}
}


.aboutme {
	background-color: #FF1A71;
	padding:60px 0;

	p {
		font-size: 22px;  /*menjano sa 18 na 22px*/
	}

	span {
		font-family:  'Roboto Mono', monospace;
		font-size: 22px;
		font-weight: 700;

	}
}

.portfolio {
	padding:50px 0;
	.work {
		display: inline-block;
		width: 22%;
		position: relative;
		margin-right: 20px;
		margin-bottom: 20px;
		a {
			color:#FF1A71;
			font-size: 22px;
			padding: 10px 0;
		}
	}

	.firstContainer {
		position:relative;
		display: block;
		overflow: hidden;
	}

	.secondContainer {
		position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding-bottom: 2rem;
    z-index: 1;
	}

	#effectFirst {
		&:after {
			background-color: rgb(245,234,236);
		}
	}

	#effectSecond {
		&:after {
			background-color: rgb(198,186,184);
		}
	}

	#effectThird {
		&:after {
			background-color: rgb(241,222,199);
		}
	}

	#effectFourth {
		&:after {
			background-color: rgb(235,234,235);
		}
	}

	#effectFifth {
		&:after {
			background-color: black;
			opacity: 0.5;
		}
	}

	.overlay {
		position:relative;
		text-decoration: none;
		display: block;

		&:hover {
			img {
				transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03);
			}
		}

		p {
	    	padding-left:20px;
	    	font-size: 16px;
	    	text-transform: uppercase;
	    	color:#FF1A71;
	    	transition: transform 0.4s cubic-bezier(0, 0, 0, 0.85), opacity 0.2s linear;
	    	transform: translateX(0);
	    	opacity: 0;
	    }

	    &:after {
			content: '';
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    position:absolute;
		    transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03);
		    transform: scaleX(0);
		    transform-origin: left center;
		}

		&:hover {
			p {
		    	transform: translateX(1);
		    	opacity: 1;
	    	}

			&:after {
				    transform: scaleX(1);
			}
		}
	}

.overlay_5 {
		position:relative;
		text-decoration: none;
		display: block;

		&:hover {
			img {
				transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03);
			}
		}

		p {
	    	text-align: center;
	    	font-size: 26px;
	    	font-weight: bold;
	    	margin:300px auto;
	    	text-transform: uppercase;
	    	color:#FF1A71;
	    	transition: transform 0.4s cubic-bezier(0, 0, 0, 0.85), opacity 0.2s linear;
	    	transform: translateX(0);
	    	opacity: 0;
	    }

	    &:after {
			content: '';
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    position:absolute;
		    transition: transform 0.4s cubic-bezier(0.51, 0.01, 0.18, 1.03);
		    transform: scaleX(0);
		}

		&:hover {
			p {
	    	transform: translateX(1);
	    	opacity: 1;
	    	}

			&:after {
			    transform: scaleX(1);
			}
		}
	}

	.full-width {
		width: 100%;
		margin-top: 20px;
		img {
			width: 100%;
		}
		a {
			color:#FF1A71;
			font-size: 22px;
			padding: 20px 0;
		}
	}

	h2 {
		color:#FF1A71;
	}
}

.contact {
	background-color: rgb(235,234,235);
	padding-top: 20px;
	margin-top: 20px;
	h2 {
		color:#FF1A71;
	}
	img {
		margin:0 auto;
		width: 50px;
		height: 50px;
	}

	a:visited {
		color:#225f6f;
	}

	li {
		position:relative;
		list-style-type: none;
		display: inline-block;

		strong {
			opacity: 0;
			bottom: 55px;
	    	left: -70px;
			position:absolute;
			color:#05adda;
			font-weight: normal;
			font-size: 16px;
			text-decoration: none;
		}
	}

	.mail {
		&:hover {
			strong {
				opacity: 1;
			}
		}
	}
	.row {
		padding:50px 0;
		margin:0;
	}
}



@media (min-width:640px) and ( max-width: 960px) {  /*promenjeno sa 774 na 800*/

	.main {
		h1 {
			margin-top: 200px;
			font-size: 46px;
		}

		.navbar-nav > li {
			text-align: center;
		}

		.navbar-inner {
			a {
				i {
					margin: 10px;
					font-size: 20px;
					color: rgba(255, 255, 255, 0.7);
					display: block;
				}
			}
		}
	}


	.menu {
			width: 15%;
			display: none;
			text-align: center;
		li {
			a {
				padding:5px;
				text-align: center;
			}
		}
	}

	.aboutme {
		padding:150px 0;
	}


	.portfolio {
		padding:150px 0 0;
		.work {
			margin-right: 1%;   /*promenjeno sa 0 na 1*/
			width: 48%;					/*doadto*/
		}

		.full-img {
			width: 48%;     /*promenjeno sa 100 na 48*/

			 img {
				width: 100%;
				margin-bottom: 30px;
				padding-bottom:30px;
				border-bottom:2px solid $main-color;
			}
		}
		.overlay_5 {
			p {
				margin:80px auto;
			}
		}
	}

	.contact {
		img {
			width: 40px;
			height: 40px;
		}
	}

}

@media (max-width: 640px) {
	.main {
		.navbar-inner {
			a {
				i {
					margin: 10px;
			    font-size: 20px;
			    color: rgba(255, 255, 255, 0.7);
			    display: block;
				}
			}
		}
	.navbar {
		a {
		 font-weight: 400;
			&:hover {
				border-bottom: none;
			}
		}
	}
}

.menu {
		width: 50%;
		display: none;
	li {
		a {
			padding:5px;
			text-align: left;
		}
	}
}
	.aboutme {
		padding: 125px 0;
		p {
			font-size: 18px
		}
		 h2 {
			font-size: 26px;
		}
		.overlay_5 {
			p {
				margin: 60px auto;
				font-size: 22px;
			}
		}
	}
	.portfolio {
		padding:120px 0;
		.work {
			margin-right: 0;
			width: 100%;
		}
		.full-img {
			width: 100%;
		}
		.overlay_5 {
			p {
				margin:50px auto;
			}
		}
	}
}
