* {
	box-sizing: border-box;
}

body, a, p, ul, h1, h2, li {
	margin:0;
	padding:0;
}

body {
	background:  #f1f2f2 url('http://www.belvilledental.com/templates/belvil/images/belville-background.jpg') repeat-x center 0;
	font-family: 'Open Sans',Verdana,Arial;
	font-size: 15px;
}

a {
	text-decoration: none;
	color:white;
}

ul {
	list-style: none;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.wrapper {
	width: 960px;
	margin:0 auto;
}

.mainHeader  {
	background: linear-gradient(180deg,#fbfbfb 10%,#ebebeb 90%);
	border:1px solid grey;
	text-align: right; 
}

.mainHeader .wrapper {
	padding: 8px;
}

.secondHeader {
	overflow: hidden;
}

.secondHeader .mainLogo {
	margin-top: 5px;
	padding:5px;
	float:left;
}

.mainContent .mainInfo {
	float:right;
}

.mainContent .mainInfo .languages {
	text-align: right;
	padding-top: 5px;
}

.mainContent .mainInfo .contact p {
	font-weight: bold;
	font-size: 18px;    
    line-height: 25px;
}

.mainContent .mainInfo .contact .numbers {
	color: #8dc63f;
    font-size: 32px;
    letter-spacing: -1px;
}

.mainContent .mainNav {
	background: url('http://www.belvilledental.com/templates/belvil/images/menu-pozadina.png');
	font-size: 16px;
	overflow: hidden;
	border: 1px solid #dcdcdc;
}

.mainContent .mainNav ul {
	float: left;
}

.mainContent .mainNav ul li {
	display: inline-block;
    padding: 15px;
    border-right: 1px solid #dcdcdc;
}

.mainContent .mainNav a {
	color: #6a6b6e;
}


.mainContent .mainNav .socialMedia {
	float: right;
	padding: 10px 5px 0;
}

.mainContent .navigation {
	background: url(../images/baner_generali_slajder.jpg);
	height: 300px;
	margin-top: 10px;
	background-size: cover;
	position: relative;
}


.mainContent .navigation .positionFirst,
.mainContent .navigation .positionSecond {
	background:url('http://www.belvilledental.com/modules/mod_fpss/mod_fpss/templates/JJ-Obs/transparent_bg.png');
	position: absolute;
	width: 100%; 
	background-color: #828484;
	opacity: 0.5;
	padding: 10px;
	color:white;
	font-family: Georgia,"Times New Roman",Times,serif;
    text-shadow: 1px 1px 1px #000;
}

.mainContent .navigation .positionFirst {
	text-align: center;
	text-transform: uppercase;
 	font-size: 20px;
    line-height: 24px;
    top: 30px;
}

.mainContent .navigation .positionSecond ul li {
	display: inline-block;
}

.mainContent .navigation .positionSecond {
	bottom:0;
	color: #6a6b6e;
	text-align: center;
}

 .mainContent .navigation .positionSecond .button {
 	width: 15px;
 	height: 15px;
 	background-color: blue;
 	border:1px solid blue;
 	border-radius: 50%;
 	cursor: pointer;
}

.mainContent .navigation .positionSecond .selected {
	background-color: white;
}

 .mainContent .navigation .positionSecond .button:hover {
 	background-color: white;
 }

.mainContent .navigation .positionSecond .play  {
	text-align: right;
}

.mainContent .navigation .positionSecond .play a {
	color: #6a6b6e;
}

.mainContent .navigation .positionSecond .play a:hover {
	color:black;
}

.wrapper .mainsection {
	background-color: white;
	margin-top: 20px;
	padding:20px;
}

.wrapper .mainsection h2 {
	color:#57A9CB;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.wrapper .mainsection p {
	line-height: 21px;
	margin-bottom: 10px;
	font-family:"Open Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:rgb(68, 68, 68);
}

.wrapper .news {
	text-align: left;
}

.wrapper .news .everything {
	background: linear-gradient(#E7EDEF,#F5F7F8);
	max-width:297px;
	width: 33%;
	display: inline-block;
	margin-bottom: 30px;
}

.wrapper .news .middle {
	margin:0 10px;
}

.wrapper .news .everything .images {
	background-color: #D8DEE3;
	padding:10px;
	border:1px solid white;
}

.wrapper .news .everything .images img {
	max-width: 100%;
	max-height: 100%;
	border:1px solid white;
}

.wrapper .news .everything .information {
	padding-left: 10px;
}

.wrapper .news .everything .information a h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #57a9cb;
	font-size: 16px;
}

.wrapper .news .everything .information a h2:hover {
	text-decoration: underline;
	color:black;
}

.wrapper .news .everything .information a p {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #9B9B9B;
	font-size: 13px;
}

 .everything .footer {
	position: relative;
	margin-top: 30px;
	padding-right: 5px;
	padding-bottom: 5px;
}

 .everything .footer .move {
	text-align: right;

}

.everything .footer .move img {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 55px;
    top: -15px;
    opacity: 1;
}

 .everything .footer .move a {
	text-align: right;
	font-size: 10px;
	color: white;
}
	/*end of mainsection*/

.wrapper .kartice {
	margin-top: 120px;
	margin-bottom: 20px;
}

footer {
	background-color: #6D6E71;
	border-top: 10px solid #8BC33E;
	position: relative;
	height: 250px;
}

footer .wrapper .footernav,
footer .wrapper .footercontact {
	float:left;
	margin-top: 20px;
}

footer .wrapper .footernav .uniqa,
footer .wrapper .footernav .cmg {
	margin-left: 10px;
    margin-bottom: -13px;
    margin-top: 10px;
}

footer .wrapper .footernav {
	margin-right: 20px;
}

footer .wrapper .footernav .lastlogo {
	margin-top: 60px;
}

footer .wrapper .footernav .lastlogo p,
footer .wrapper .footercontact p {
	color:white;
	line-height: 30px;
	font-size: 11.25px;
}

footer .wrapper .footernav ul li {
	display: list-item;
 	float: left;
    width: auto;
    margin: 0 0 0 0;
	text-transform: uppercase;
	font-family:"Open Sans", Verdana, Arial, Helvetica, sans-serif;
}

footer .wrapper .footernav ul li:hover {
	text-decoration: underline;
}

footer .wrapper .footernav a {
	color:white;
	border-left: 1px solid white;
	font-size: 16px;
	padding:0 4px;
	line-height: 16px;
}

footer .wrapper .building {
	position: absolute;
	top: -128px;
    right: 45px;
}

footer .wrapper .footercontact {
	margin-left: 150px;
	font-size:11.25px;	
}

footer .wrapper .footercontact .fotona {
	float:right;
}

footer::after {
	clear:both;
}